[submodule "libnile"]
	path = libnile
	url = https://github.com/asiekierka/libnile
[submodule "firmware/cmake"]
	path = firmware/cmake
	url = https://github.com/ObKo/stm32-cmake
[submodule "firmware/tinyusb"]
	path = firmware/tinyusb
	url = https://github.com/asiekierka/tinyusb
