build
.cache
.vscode

*.vcd
*.history

*.bin
*.elf
generated.*.ld

*.ram
*.ws
*.wsc
*.bfb

compile_commands.json

*.FCBak

*.kicad_sch.lck

*.asc

docs/_deps/
docs/.hugo_build.lock
docs/public/
docs/resources/_gen/
docs/themes/hugo-geekdoc/
