set_io DebugLEDs[0] 26
set_io DebugLEDs[1] 27
set_io DebugLEDs[2] 28
set_io DebugLEDs[3] 29

set_io FastClk 34
set_io FastClkEnable 36

set_io AddrLo[0] 93
set_io AddrLo[1] 94
set_io AddrLo[2] 95
set_io AddrLo[3] 96
set_io AddrLo[4] 74
set_io AddrLo[5] 73
set_io AddrLo[6] 72
set_io AddrLo[7] 71
set_io AddrLo[8] 69

set_io AddrHi[0] 1
set_io AddrHi[1] 100
set_io AddrHi[2] 99
set_io AddrHi[3] 97

set_io Data[0] 91
set_io Data[1] 87
set_io Data[2] 86
set_io Data[3] 85
set_io Data[4] 83
set_io Data[5] 82
set_io Data[6] 81
set_io Data[7] 80
set_io Data[8] 2
set_io Data[9] 3
set_io Data[10] 4
set_io Data[11] 7
set_io Data[12] 8
set_io Data[13] 9
set_io Data[14] 79
set_io Data[15] 78

set_io MBC 10
set_io SClk 15

set_io nOE 90
set_io nWE 13
set_io nSel 16
set_io nIO 12

set_io nPSRAMSel 65
set_io PSRAM_nUB 66
set_io PSRAM_nLB 68

set_io nSRAMSel 64

set_io AddrExt[0] 52
set_io AddrExt[1] 53
set_io AddrExt[2] 54
set_io AddrExt[3] 56
set_io AddrExt[4] 57
set_io AddrExt[5] 59
set_io AddrExt[6] 60

set_io SPI_Cs 49
set_io SPI_Clk 48
set_io SPI_Do 45
set_io -pullup yes SPI_Di 46

set_io TF_Pow 18